/*******************************
** Setting up common elements **
*******************************/
* {
	margin: 0;
	padding: 0px;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size:16px; }

html, body {
	background-color:#F9F9F9; }
	
footer {
	width:100%;
	background-color:#A10000;
	height:40px;
	line-height:40px;
	position:fixed;
	bottom:0;
	color:#FFF; }
	
a {
	text-decoration:none; }

.left {
	float:left; }

.right {
	float:right; }
	
/*Main color is #A10000
 Dark color is #730000
 Deactivated color is #939393
*/
/*********************************************************************************************
** Styling boxes, setting up their sizes, adding some color, and calling for a unique font. **
*********************************************************************************************/
.wrapper {
	margin-left:auto;
	margin-right:auto;
	max-width:1000px; }
	
.steps {
	background-color:#F9F9F9;
	margin:0px;
	padding:0px;
	border-bottom:5px solid #A10000;
	padding:7px;
	height:120px;
	min-width:1000px;}

.check {
	position:relative;
	top:-27px;
	padding-left:10px;
	padding-right:15px; }
	
.main {
	background-color:#F9F9F9;
	padding:15px;
	height:100%; }
	
.leftmain {
	margin-left:auto;
	width:475px;
	float:left;
	padding-left:25px;
	height:500px; }

.rightmain {
	margin-right:auto;
	width:475px;
	float:right;
	padding-right:25px;
	height:500px; }
	
.input_main {
	margin-top:3px;
	margin-bottom:15px; }

#navbar {
	height:60px;
	background-color:#A10000;
	line-height:80px;
	color:#FFF;
	padding:10px; }

#buttons {
	height:40px;
	width:1000px;
	position:fixed;
	bottom:50px; }

/********************
** Button Classes! **
*********************/

.red {
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	color: #fff;
	font-size: 15px;
	background: #a10000;
	padding: 8px 12px 8px 12px;
	text-decoration: none;
	margin:5px;
	border:0px; }

.red:hover {
	background: #730000;
	text-decoration: none; }

.grey {
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	color: #fff;
	font-size: 15px;
	background: #939393;
	padding: 8px 12px 8px 12px;
	text-decoration: none;
	margin:5px;
	border:0px; }

.grey:hover {
	background: #616161;
	text-decoration: none; }
