/*****************************************************
* This code is owned by team LNSTEM at the L&N STEM  *
* Academy in Knoxville, Tennessee. If you would like *
* to inquire more about this code, please email:     *
* s731875@student.knoxschools.org and put "Solar     *
* Calculator" in the subject line. Please do not use *
* any part of this code unless permission has been   *
* specifically given.				     *
*****************************************************/
/*****************************************************
* Main red color is #A10000			     *
* Dark red color is #730000			     *
* Deactivated grey color is #939393		     *
*****************************************************/


/*****************************************************
* 	      Setting up common elements             *
*****************************************************/
* {
	margin: 0;
	padding: 0px;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size:16px; }

html, body {
	background-color:#F9F9F9; }
	
footer {
	width:100%;
	background-color:#A10000;
	height:40px;
	line-height:40px;
	position:fixed;
	bottom:0;
	color:#FFF; }
	
a {
	text-decoration:none; }

.left {
	float:left; }

.right {
	float:right; }

/*****************************************************
* Styling boxes, setting up their sizes, adding some *
* color, creating a sufficient padding, and adding   *
* positioning correctly on the page	 	     *
*****************************************************/
.wrapper {
	margin-left:auto;
	margin-right:auto;
	max-width:1000px; }
	
.steps {
	background-color:#F9F9F9;
	margin:0px;
	padding:0px;
	border-bottom:5px solid #A10000;
	padding:7px;
	height:120px;
	min-width:1000px;}

.check {
	position:relative;
	top:-27px;
	padding-left:10px;
	padding-right:15px; }
	
.main {
	background-color:#F9F9F9;
	padding:15px;
	height:100%;
	margin-bottom:40px;}
	
.leftmain {
	margin-left:auto;
	width:475px;
	float:left;
	padding-left:25px;
	height:475px; }

.rightmain {
	margin-right:auto;
	width:475px;
	float:right;
	padding-right:25px;
	height:475px; }

#navbar {
	height:60px;
	background-color:#A10000;
	line-height:80px;
	color:#FFF;
	padding:10px; }
	
.information {
	clear:both;
	font-weight:bold;
	margin-top:3px;
	margin-bottom:15px;
	padding:6px;
	border: 1px solid #c4c4c4;
    font-size: 16px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; }
	
.input_main {
	margin-top:3px;
	margin-bottom:15px;
	border: 1px solid #c4c4c4;
    font-size: 16px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9; }

.input_main:focus { 
    outline: none;
    border: 1px solid #D40000;
    box-shadow: 0px 0px 8px #D40000;
    -moz-box-shadow: 0px 0px 8px #D40000;
    -webkit-box-shadow: 0px 0px 8px #D40000;
    transition: box-shadow linear 1s; }

.buttons {
	height:40px;
	width:1000px;
	position:fixed;
	bottom:50px;
	z-index:1;}

.help {
	font-weight:bold;
	font-style:italic; }

/*****************************************************
* 	            Button Classes!		     *
*****************************************************/

.red {
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	color: #fff;
	font-size: 15px;
	background: #a10000;
	padding: 8px 12px 8px 12px;
	text-decoration: none;
	margin:5px;
	border:0px; }

.red:hover {
	background: #730000;
	text-decoration: none; }

.grey {
	-webkit-border-radius: 3;
	-moz-border-radius: 3;
	border-radius: 3px;
	color: #fff;
	font-size: 15px;
	background: #939393;
	padding: 8px 12px 8px 12px;
	text-decoration: none;
	margin:5px;
	border:0px; }

.grey:hover {
	background: #616161;
	text-decoration: none; }
